:root {
--darkblue: #101828;
--purple: #4E0961;
--dblue: #06052E;
--bg-color: #F9F9F9;
--pcolor: #272727;
--li-color:#3DC5BA;
--wt-color:#fff;
--lgt-purple: #FCF3FF;
--heading-color: #202939;
--transparent: #00000000;
}
.container {
   max-width: 1216px!important;
}
*, *::before, *::after {
   box-sizing: border-box;
   font-family: 'Inter';
   transition: .3s all ease;
}
