.hiw h2 {
    font-size: 40px;
    margin: 0;
    font-weight: 700;
    line-height: 48.41px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 100%;
    text-align: center;
    margin-bottom: 48px;
}
.listing {
    background: var(--bg-color);
    padding: 28px;
    border-radius: 21px;
}
.listing h4 {
    color: var(--li-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 31px;
}
.listing ul li {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.listing ul {
    list-style: none;
    padding: 0;
}
.hiw .row {
    gap: 30px 0px;
}
.container.hiw {
    padding-bottom: 60px;
}